body {
  padding: 0;
  margin: 0;
}

.my__map {
  width: 100vw;
  height: 100vh;
}

.tooltip-red {
  background-color: #ff9d9d;
}

.tooltip-orange {
  background-color: #ff9d9d;
}

.tooltip-green {
  background-color: #002f00;
  color: white;
  opacity: 0.8;
}

.tooltip-yellow {
  background-color: #886308;
  color: white;
}

.mapboxgl-popup-content {
  padding: 2px !important;
  margin-left: 10px;
  margin: 0;
  font-size: 12px;
  border-radius: 20px;
}

.push-5 {
  margin-right: 5px;
}

.push-5-l {
  margin-left: 5px;
}

.my_input {
  position: absolute;
  z-index: 1;
  margin-left: 100px;
  margin-right: 20px;
  margin-top: 2px;
  padding: 20px;
  width: 245px;
  height: 5px;
  border-radius: 20px;
  background-color: #9a9a9;
  transition: width 1s ease-in-out;
  outline: none;
}

.my_input:focus {
  width: 500px;
  transition: width 1s ease-in-out;
  outline: none;
}
