:root {
  --tooltip-red: #ff9d9d;
  --tooltip-orange: #ff9d9d;
  --tooltip-yellow: #886308;
  --tooltip-green: #002f00;
  --tooltip-white: #f9f9f9;
}

body {
  padding: 0;
  margin: 0;
}

.my__map {
  width: 100vw;
  height: 100vh;
}

.tooltip-red {
  background-color: var(--tooltip-red);
}

.tooltip-orange {
  background-color: var(--tooltip-orange);
}

.tooltip-green {
  background-color: var(--tooltip-green);
  color: white;
  opacity: 0.8;
}

.tooltip-yellow {
  background-color: var(--tooltip-yellow);
  color: white;
}

.mapboxgl-popup-content {
  padding: 2px !important;
  margin-left: 10px;
  margin: 0;
  font-size: 12px;
  border-radius: 20px;
}

.push-5 {
  margin-right: 5px;
}

.push-5-l {
  margin-left: 5px;
}

.my_input {
  position: absolute;
  z-index: 1;
  margin-left: 100px;
  margin-right: 20px;
  margin-top: 2px;
  padding: 20px;
  width: 245px;
  height: 5px;
  border-radius: 20px;
  background-color: #9a9a9;
  transition: width 1s ease-in-out;
  outline: none;
}

.my_input:focus {
  width: 500px;
  transition: width 1s ease-in-out;
  outline: none;
}

.color_display_code {
  padding-left: 20px;
  padding-top: 10px;
  width: 200px;
  height: 160px;
  position: absolute;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.1);;
  color: rgba(255, 255, 255, 0.7);
}

.color_display_code:hover {
  background-color: rgba(27, 27, 27, 0.7);
}


.color_display_code .green__box {
  width: 20px;
  height: 20px;
  background-color: #325032;
  margin-right: 10px;
}

.color_display_code .yellow__box {
  width: 20px;
  height: 20px;
  background-color: #886308;
  margin-right: 10px;
}

.color_display_code .red__box {
  width: 20px;
  height: 20px;
  background-color: #8B0000;
  margin-right: 10px;
}

.color_display_code .marker__box {
  width: 20px;
  height: 30px;
  background-image: url('../images/marker.png');
  background-size: 20px 30px;
  margin-right: 10px;
}

.color_display_code .circle {
  width: 16px;
  height: 16px;
  background-color: #f9f9f9;
  border-radius: 10px;
  margin-right: 10px;
}

.flex {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
