:root {
  --tooltip-red: #ff9d9d;
  --tooltip-orange: #ff9d9d;
  --tooltip-yellow: #886308;
  --tooltip-green: #002f00;
  --tooltip-white: #f9f9f9;
  --spinner-blue: #5DADE2;
}

body {
  padding: 0;
  margin: 0;
}

.my__map {
  width: 100vw;
  height: 100vh;
}

.tooltip-red {
  background-color: var(--tooltip-red);
}

.tooltip-orange {
  background-color: var(--tooltip-orange);
}

.tooltip-green {
  background-color: var(--tooltip-green);
  color: white;
  opacity: 0.8;
}

.tooltip-yellow {
  background-color: var(--tooltip-yellow);
  color: white;
}

.mapboxgl-popup-content {
  padding: 2px !important;
  margin-left: 10px;
  margin: 0;
  font-size: 12px;
  border-radius: 20px;
}

.push-5 {
  margin-right: 5px;
}

.push-5-l {
  margin-left: 5px;
}

.color_display_code {
  padding-left: 20px;
  padding-top: 20px;
  width: 217px;
  height: 160px;
  position: absolute;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.1);;
  color: rgba(255, 255, 255, 0.7);
}

.color_display_code:hover {
  background-color: rgba(27, 27, 27, 0.7);
}

.color_display_code .green__box {
  width: 20px;
  height: 20px;
  background-color: #325032;
  margin-right: 10px;
}

.color_display_code .yellow__box {
  width: 20px;
  height: 20px;
  background-color: #886308;
  margin-right: 10px;
}

.color_display_code .red__box {
  width: 20px;
  height: 20px;
  background-color: #8B0000;
  margin-right: 10px;
}

.color_display_code .marker__box {
  width: 20px;
  height: 30px;
  background-image: url('../images/marker.png');
  background-size: 20px 30px;
  margin-right: 10px;
}

.color_display_code .circle {
  width: 16px;
  height: 16px;
  background-color: #f9f9f9;
  border-radius: 10px;
  margin-right: 10px;
}

.flex {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.my_input {
  padding: 20px;
  width: 245px;
  height: 5px;
  border-radius: 20px;
  background-color: #9a9a9;
  outline: none;
}

.country_search_combo {
  position: absolute;
  margin-top: 10px;
  margin-left: 10%;
  width: 245px;
  height: 15px;
  outline: none;
  z-index: 1;
}

.country_search_combo .flex-dropdown {
  display: flex;
  flex-direction: column;
  color: black;
  padding-left: 40px;
  cursor: grab;
}

.country_search_combo .flex-dropdown .countryDropdown {
  max-height: 200px;
  overflow-y: scroll;
  font-size: 20px;
  width: 255px;
  color: var(--tooltip-white);
  margin-left: 17px
}

.countryDropdown .country, .my_input {
  text-transform: capitalize;
}

.quick_jump {
  padding-left: 10px;
  position: absolute;
  top: 10px;
  color: white;
  z-index: 1;
  max-height: 95vh;
  overflow-y: scroll;
}

.quick_jump .country {
  margin-bottom: 5px;
  text-transform: capitalize;
  opacity: 0.3
}

.quick_jump .country:hover {
  opacity: 1;
  font-size: 20px;
  transition-delay: 0.2s ;
  transition-property: size;
  cursor: grab;
}

.messages {
  margin-left: 45%;
  position: absolute;
  z-index: 1;
}

.messages .spinner {
  margin-top: 15px;
  width: 20px;
  height: 20px;
  border: 10px solid grey;
  border-top: 10px solid var(--spinner-blue);
  animation: spin;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  border-radius: 30px;
}

@keyframes spin {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

.loaderMessage {
  margin-top: 10px;
  font-size: 15px;
  color: var(--tooltip-white);
  opacity: 0.8;
}

.loading_country {
  text-transform: capitalize;
}

.ErrorMessage {
  font-size: 15px;
  color: var(--tooltip-red);
}

.myLocation {
  font-size: 20px;
  width: 100px;
  background-color: var(--tooltip-white: #f9f9f9);
}
